[2014-12-13 06:34] huntcsg opened #2 "Python 3 Support?"
Hi Adam,

I just watched the video demo you gave of spyre posted by PyData on youtube. I am super excited about what spyre has to offer.

I was wondering if you have any desire to make it compatible with python 3, specifically python 3.4?

Is there anything that you can think of that technically would preclude spyre from being used in python 3.4?

I would love to contribute to an effort to make it

[2014-12-18 21:12] rjhbrunt opened #4 "Can't import server"
I just watched your presentation at pyData, and I think this is a really awesome package! I installed with

$sudo pip install dataspyre

 I tried running your stock with bokeh example, but got the error "No module named View" when I tried to run

I think this should be a pretty easy fix, and I would be happy to help.

I am using Ubuntu 12.04 and python 2.7.3

Thanks

[2014-12-23 00:25] huntcsg opened #6 "Improve Multiple Plots API"
So, most dashboards I'd envision will have multiple tabs with multiple matplotlib/plots per tab. To clean this up a little, I've been writing functions in a separate file (maybe config.py or plots.py) that output either a matplotlib figure or the HTML associated with a bokeh plot.

Then in the app class definition I write the following:

    if params['output_id'] == 'output_1':
        return con

[2014-12-30 16:08] #4 closed, assigned to nobody

[2015-01-01 21:11] huntcsg commented on #2
Running the example_show_all_inputs.py, and working through the raised exceptions I've got the following so far:

* print statement vs. function (probably not an issue because the prints look like they were for debugging purposes. So they are probably not necessary to keep. If they are, some options include importing the print_function from __future__ or just wrapping the printed statement in pare

[2015-01-02 06:23] huntcsg opened #10 "Multipage Support"
I am working on adding support for a 'multi page' app, that would allow for defining routes to different spyre "apps".

You can check out my progress at my fork/master. I've basically got it working. I've got a draft of an example app (that is the example_show_all_the_inputs.py, with 2 additional app classes that are basically exact copies of the first.) At the bottom you can see what I've got for

[2015-01-04 06:01] huntcsg commented on #10
Regarding the QPixmap error, it seems that that is not due to the multi-page nature of the app. I'm not sure what is causing it, but it's only happening on my windows machine (when I run the cherrypy server from my windows machine, locally). So, it may just be a platform issue. Or perhaps a python/package version issue.

[2015-01-04 07:06] huntcsg commented on #10
I've got an example multipage app running at foolofgod.pythonanywhere.com. In the next couple of days I might build out a more interesting example (than 3 of the same apps). But just for demo purposes, you can find them at:
[foolofgod.pythonanywhere.com/](http://foolofgod.pythonanywhere.com/)
[foolofgod.pythonanywhere.com/other](http://foolofgod.pythonanywhere.com/other)
[foolofgod.pythonanywhere.

[2015-01-07 00:25] adamhajari commented on #6
@huntcsg I think there's an even cleaner way to do this.

If we make this the default getPlot method

[code]

Then you can either override getPlot (the normal way), or if you want multiple plots, leave getPlot as is and create a new function for each plot output element:

[code]

We can do the same thing with getHTML, getData, etc...

Should be straight forward to implement. I'll work on it this w

[2015-01-07 05:41] huntcsg commented on #2
I was thinking the same thing!

[2015-01-07 05:55] huntcsg commented on #6
That's a nice idea!

Just to confirm, with this method you would need to name your function the same thing as the output id, correct? That seems like a reasonable requirement. And it does away with the conditionals. Yay!

Also, I don't know if eval is better or worse than getattr, but I think you could also do

    def getPlot(self,params):
        return getattr(self, params['output_id'])(params)

[2015-01-09 09:51] ralphschreyer opened #11 "Spinning Wheel?"
Hi Adam,

I have your great little framework up and running, thank you very much for this (btw, after changing "import View" to "import view" and "View.View()" to "view.View()" in server.py, since the view module is named view.py ...)

My little app takes some time to calculate after pressing some button - can I get some spinning wheel or something in order to show that the calculation is still go

[2015-01-10 18:25] huntcsg commented on #11
Hi Ralph,

This functionality was recently added by Adam. Are you on Windows? I have noticed that when I serve my app locally from a windows platform that I do NOT get a spinning wheel, but when I serve my app from linux I DO get a spinning wheel. If you go to foolofgod.pythonanywhere.com, you can see what it looks like. I spent a little time trying to figure out the cause of this, but I'm unsure

[2015-01-10 19:04] ralphschreyer commented on #11
Hi Hunter,

thanks a lot for your answer. Right, I'm serving from Windows - no choice, unfortunately, since I'm using spyre at work ... Could it be some system dependent path issue? I've exchanged the hard coded path construction with os.path.join and os.sep in the spyre code everywhere I could find it, but still don't get the wheel. By the way, looks nice on the link you've sent :-)

Cheers
Ralph

[2015-01-10 22:22] adamhajari commented on #6
issue addressed with this commit: https://github.com/adamhajari/spyre/commit/d46aca1782b48e534de103d9df5bbbb23bcf454b

[2015-01-10 22:22] #6 closed

[2015-01-10 22:25] adamhajari commented on #11
hi @ralphschreyer
which version of spyre are you using?

[2015-01-11 02:16] huntcsg commented on #6
Thanks!

[2015-01-11 03:46] adamhajari commented on #10
This is definitely something I was hoping to add eventually. Glad to see you've beat me to it. Is it ready to merge?

Right now every spyre app has the control panel on the left side and an output area on the right. I'd eventually like to have several different options for templates. One of those options could be something suitable for an index page linking to several different spyre apps.

As for

[2015-01-11 07:26] huntcsg commented on #10
I can put a pull request together in the next couple of days. I am still working on figuring out the best way in terms of how the different apps will be defined by the user.

I will be adding an additional list to templateVars that is a list of apps and their routes. This can then be used in the template to create some sort of navigation.

I started to play around with navigation. I experimented w

[2015-01-11 08:01] ralphschreyer commented on #11
Hi Adam,

I have to check when I'm back at work but I did pip install dataspyre some days ago and the code seemed to be in sync with GitHub ...

Thanks
Ralph

[2015-01-12 00:54] adamhajari opened #14 "QPixmap: It is not safe to use pixmaps outside the GUI thread"
Appears when matplotlib figures are loading on windows OS.

Proposed fix:
Add these two lines to the top of server.py
[code]

with this change, server should always be imported before matplotlib.

[2015-01-12 00:56] adamhajari commented on #10
@huntcsg i was working on the QPixmap issue today (see: https://github.com/adamhajari/spyre/issues/14). Should have a fix soon.

[2015-01-12 03:07] adamhajari commented on #14
fixed here https://github.com/adamhajari/spyre/commit/2f4fe0e847ff99fd39ae5bec4e18b1ed1e2b854a as per this suggestion http://matplotlib.org/faq/howto_faq.html#matplotlib-in-a-web-application-server

[2015-01-12 03:08] #14 closed

[2015-01-12 03:09] adamhajari commented on #11
@ralphschreyer this issue has been fixed here: https://github.com/adamhajari/spyre/commit/961287035ee2f84742f4d63ca88b526d61e82168

[2015-01-12 03:09] #11 closed

[2015-01-12 03:11] adamhajari opened #15 "unit tests needed"
badly

[2015-01-12 12:03] ralphschreyer commented on #11
Hi Adam,

great, works! Thanks a lot.

Ralph

2015-01-12 4:09 GMT+01:00 Adam Hajari <notifications@github.com>:

[2015-01-12 15:29] huntcsg commented on #15
I can put some time into this this week.

[2015-01-13 07:29] ralphschreyer opened #16 "Table and plot from one control?"
Hi there,

this is rather a question than an issue, but maybe there is a simple answer to it.

Assume that it is quite expensive to calculate some data. Is there a way to have just one control button which starts the calculation and then displays the data in a table and thereafter displays the data in a plot without having the calculation done twice, like in the code below (which of course does no

[2015-01-13 09:47] huntcsg commented on #14
Nice! Thanks!

[2015-02-14 13:36] Pyshankov opened #17 "No module named static"
Hello,I have problem when I use "from spyre import server"
Issue:
 File "/usr/local/lib/python2.7/dist-packages/spyre/server.py", line 16, in <module>
    from cherrypy.lib.static import serve_file
ImportError: No module named static

How can  I solve this issue?
I use Ubuntu 14.04 and Python 2.7.6
Thanks

[2015-02-14 19:26] #17 closed

[2015-02-24 10:46] ianozsvald commented on #2
+1 for Python 3.4+ support please :-) IPython Notebook isn't good enough to export data science products to the web (mostly due to security leaks) and I want a good example of how to do this for an upcoming keynote (PyConSweden in May). I hope to demo Spyre and knowing it can use the future-proof version of Python (Py 2.7's sunset date is <5 years away now) is important.

[2015-03-28 02:07] adamhajari commented on #2
@ianozsvald and @huntcsg python 3.4 support was added in the most recent commit.

[2015-03-28 02:07] #2 closed

[2015-03-28 02:09] adamhajari commented on #15
just added unit testing to cover simple cases for all endpoints. closing this for now.

[2015-03-28 02:09] #15 closed

[2015-03-29 12:22] ianozsvald commented on #2
@adamhajari That's great to hear, I'll endeavour to cover this in my keynote - cheers :-)

[2015-04-06 17:11] adamhajari commented on #10
added here: https://github.com/adamhajari/spyre/commit/90040a55445cc0c3856d0087f70adf628e475c9e

[2015-04-06 17:11] #10 closed

[2015-04-06 17:24] adamhajari commented on #16
@ralphschreyer this is a great question. Unfortunately there's not a *simple* solution to this problem since the requests get made asynchronously. However, I just pushed an update to the stocks_example app which implements a caching mechanism that you might find useful: https://github.com/adamhajari/spyre/blob/master/examples/stocks_example.py

Here's how it works:
1. initialize two caching variab

[2015-04-06 17:24] #16 closed

[2015-04-06 17:29] adamhajari commented on #16
inline comments added here: https://github.com/adamhajari/spyre/commit/488d9fdd8b95273853595a006ae3f50ac0038c03

[2015-04-10 13:09] billywong9 opened #21 ""value" attribute not respected by dropdown input type"
Problem - "value" attribute is not respected by dropdown input

Example -
{'variable_name':'shoe_size',
               'label':'Shoe size',
               'input_type':'dropdown',
               'options':[{'label':size,'value':size} for size in range(6,13)],
               'value':8,
               'action_id':'xxx'}

Result - First option (i.e. "6") is selected on page load

Expectation - Option

[2015-05-01 15:34] adamhajari opened #22 "mobile friendly spyre apps"
update the css to make spyre mobile friendly

[2015-06-12 20:58] sinhrks opened #24 "Add Options to display DataFrame Index"
Thanks for the great package!

Currently, ``spyre`` doesn't render ``DataFrame`` index by default. Is it reasonable to add an option to switch the behaviour?

- https://github.com/adamhajari/spyre/blob/master/spyre/server.py#L117

Also, there is a bug when a ``DataFrame`` has a named ``Index``. Pls see the below image which has unnecessary row.

[code]

![2015-06-13 5 55 22](https://cloud.githubus

[2015-06-12 21:03] sinhrks opened #25 "Allow getPlot to return matplotlib.Axes or its np.array"
Because ``pandas`` plotting functions return ``matplotlib.Axes`` or np.array of ``Axes`` in subplot case, it is nice if ``spyre`` can accept it.

- http://pandas.pydata.org/pandas-docs/stable/visualization.html

In these cases, we can get background figure using ``.get_figure``.

- https://github.com/adamhajari/spyre/blob/5f602f402e62e89b0e45995bed805b85c83ccaa5/spyre/model.py#L10

[2015-06-13 02:54] sinhrks commented on #24
Sorry, I found the latter bug is caused by ``pandas.DataFrame.to_html()`` side. I've issued pydata/pandas#10344.

What I would like to ask you in this issue is whether adding an option to draw ``Index`` is reasonable because ``Index`` can contain meaningful information such as ``datetime``.

[2015-06-25 21:11] adamhajari commented on #21
@billywong9 this issue has been addressed [here](https://github.com/adamhajari/spyre/commit/5bd1be54cad129772a0b6541369cda64d2432492#diff-ccdc01a5d6dafc7ded81a18f9b8c7f5e) and [here](https://github.com/jjschultz/spyre/commit/e9b7f8c04f7e8618a9881a8d856c167151bbbdaa).
You can now either supply "checked" attribute with the option that should be selected by default (as you would do with the radiobutt

[2015-06-25 21:11] #21 closed

[2015-06-25 21:21] adamhajari commented on #24
@sinhrks couldn't you just call the .reset_index() method on the dataframe?

[2015-06-26 08:56] sinhrks commented on #24
Possible as a workaround, but ``DataFrame.index`` often contain important information. I think it is better to always display ``index`` if there is no switching option.

[2015-06-29 15:43] adamhajari commented on #24
@sinhrks i've addressed this issue [here](https://github.com/adamhajari/spyre/commit/3e4b6eda55b9a2aed90481b03016ed3be1cf167c) and [here](https://github.com/adamhajari/spyre/commit/1e27aa054b4af533b8d8b597ed3ff38e124756b6)

to include the index column in your tables put:
`server.include_df_index = True`
at the top of your app after you import the server class.

Example [here](https://github.com/ad

[2015-06-29 15:43] #24 closed

[2015-06-29 15:44] adamhajari commented on #25
addressed [here](https://github.com/adamhajari/spyre/commit/f2af67b43450a1ccd1e099ca3263732195bfffe2)

[2015-06-29 15:44] #25 closed

[2015-08-10 08:35] startakovsky opened #30 "bokeh html not rendering and getting unhelpful error message."
I have a bokeh plot which works perfectly on my vagrant machine...  Here's the bottom of the method which returns the html and some other methods I found which make it work nicely.

However, I get the not-too-helpful `**Override** the getHTML method to insert your own HTML here` exception when I try to view the graph on another machine on my company intranet.

Any guesses as to why this might be h

[2015-08-10 21:37] startakovsky commented on #30
I was able to fix my issue. I guess it would be nice to be able to run this in debug mode. I would be happy to help out in the development of this...?

[2015-08-17 16:07] LuisSoares opened #32 "Help with background"
I am sorry if this seems a basic question, but I have been using spyre and I think is awesome, but my knowledge of CherryPi is very limited. My question is regarding adding pictures to the background of the html. I changed the CustomView class to use my own html template and css, however when I try to add a local file as a background (or even as a favico) the server doesn't seem to find the file o

[2015-08-26 21:00] j9ac9k opened #34 "Error when importing Seaborn (ImportError: No module named '_gdbm')"
Wasn't sure if I should open this issue with spyre or with seaborn, but considering that I only run into this issue when using spyre, and not when using seaborn in any other way, figured I would open it here.

I can generate the error with the following python file:

[code]

This happens on Windows x64, with Python 3.4.3, seaborn 0.6, and dataspyre 0.2.

Any suggestions would be appreciated.

[2015-09-14 20:04] rfieldhouse opened #35 "table width"
Is there a quick way to change how wide tables are?

[2015-09-22 20:40] willgroves opened #36 "Changing a dropdown's option list programmatically"
I see in the examples that it is possible to link two input entities so that an assignment to one will also change the assignment of the other. I have a more general use case which may not be addressed by the code so far:

Given a tree of choices with two levels, I would like to choose an assignment using two dropdown inputs: i.e. (A,1), (A,2), (B,2), ... are possible assignments. The tree of poss

[2015-10-27 20:07] LuisSoares opened #37 "Pythonanywhere"
Hi there,

I am using pythonanywhere to deploy my spyre app and while it works fine if I just serve a single app, I seem to be hitting a roadblock trying to deploy the spyre option of having a site with several apps, does anybody have any experience with deploying the multi-app site in pythonanywhere?

[2015-10-27 20:51] LuisSoares commented on #37
Fixed it

[2015-10-27 20:51] #37 closed

[2015-10-28 11:17] LuisSoares opened #38 "AppBar"
I recently run in to trouble setting a site instance (not a single app) in pythonanywhere, basically the problem is that in pythonanywhere they take care of the wsgi stuff so to deploy the site you have to deploy individually each app, the problem comes with the implementation of the site class which only serves the entire root with the launch method. This led to problems since the appbar is only

[2015-11-02 14:26] mendessoares opened #39 "Uploading files"
Is there a way to allow the user to upload the files that will be used in the app?

[2015-12-12 00:07] etch32 commented on #39
+1 for this question/request.  Would like to use the same app with multiple datasets. Fantastic framework, thank you!

[2015-12-12 00:29] etch32 opened #40 "Alternate Dashboards?"
More of a request than an issue.

Currently the only option appears to be inputs on the left, outputs on the right. I understand complete flexibility (grid, various horizontal, vertical elements) may be out of the question but any plans on supporting a limited (3-5) set of dashboards?

[2015-12-12 01:15] etch32 opened #41 "Initial value for slider not respected"
If the dropdown widget preceeds the slider widgets then the initial value for the "frequency" slider gets set to 100 (min-value) or sometimes 1100 but not 1000 (initial value).

Comment out or move the dropdown widget below the slider widgets and all initial values are correct.

[code]

[2015-12-26 16:17] joequant opened #43 "Jupyter integration"
Just to let you know, that I'm working on integrating jupyter and spyder.  The idea is that you will be able to prototype spyder in a jupyter window and then execute it such that you can get to it via another web address.

I'm using this with my docker image joequant/bitstation.

[2016-02-16 18:46] jbrambleDC opened #44 "Add Authentication"
It doesn't seem that there is an easy way to add authentication to a dashboard, or multi dash app. If there is please assist me?

[2016-02-18 22:18] charleywan2004 opened #45 "Is it possible for spydre to do animation?"
Is it possible for spydre to do animation?

Every time, input triggers an action, it will refresh the screen, this makes animation impossible. Is it possible to use AJAX to fetch updated content of the page and display it asynchronously in the "existing" page?

[2016-02-29 21:05] jbrambleDC commented on #44
@adamhajari Care to connect on this and discuss adding it?

[2016-03-25 19:15] songhuiming opened #47 "I run the example on windows, and get this error"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-be7a924d2a7c> in <module>()
     15
     16 app = SimpleApp()
---> 17 app.launch()
     18

C:\Users\hsong01\AppData\Local\Continuum\Anaconda\lib\site-packages\dataspyre-0.2.0-py2.7.egg\spyre\server.pyc in launch(self, host, port)

[2016-04-01 07:21] hnykda opened #48 "Make examples compatible with Python 3"
Hello,

the second example in a readme is not working under Python 3. It's easy to edit it and then it works nice, but for newcomers it might be disappointing. I tried to make it work for both with the code below, but unsuccessfully. Pandas gives me an error when trying to plot it under Python 2 (Python 3 is OK).

[code]

[2016-04-02 18:28] adamhajari commented on #32
@LuisSoares the easiest way to do this is to host the image somewhere else (S3, photobucket, etc.) and reference that image within the getCussomCSS method. Here's an example using a photo I uploaded to photobucket (here: http://s95.photobucket.com/user/adamjdanger/media/indonesia_bg.jpg.html)

[code]

If you wanted a completely self-contained app (that worked without internet access) you could cre

[2016-04-02 18:28] #32 closed

[2016-04-02 18:47] adamhajari commented on #35
@rfieldhouse yep.
just add a `getCustomCSS` method to your app that returns whatever modifications/additions you want to make to a given css attribute:

[code]

Here's an example app that uses getCustomCSS: https://github.com/adamhajari/spyre/blob/master/examples/simple_sine_background_image_example.py

[2016-04-02 18:47] #35 closed

[2016-04-02 19:50] adamhajari commented on #36
hey @willgroves thanks for the feedback. There's no way to do this currently, but I will consider adding this functionality in future updates (or you can send a PR if you have a simple way to do so already).

[2016-04-02 19:50] #36 closed

[2016-04-02 19:55] adamhajari commented on #38
@LuisSoares can you provide the code for your app?

Also, have you looked at this issue: https://github.com/adamhajari/spyre/issues/10
and this example: https://github.com/adamhajari/spyre/blob/master/examples/multi_app_example.py
?

[2016-04-02 20:34] adamhajari commented on #40
@etch32 you have a lot of flexibility about page layout with the getCustomCSS method. You can check out the default css used here: https://github.com/adamhajari/spyre/blob/master/spyre/public/css/style.css
and override whatever elements you'd like to change. For instance, we could make a mobile friendly app by adding the following method to our app:

[code]

Ideally we could add a "custom_layouts"

[2016-04-02 20:34] #40 closed

[2016-04-02 20:38] adamhajari commented on #41
@etch32 I'm not able to reproduce. This issue may have been fixed with this commit: https://github.com/adamhajari/spyre/commit/ea4864defb7e20c6833bf37f02a16861f1aaa5c3

Can you confirm.

[2016-04-02 20:43] adamhajari commented on #48
@hnykda did you try the examples in the examples directory? Did those work in python 3?

[2016-04-02 21:00] adamhajari commented on #48
@hnykda I've updated the README.md with your suggestions and tested them out with python3 and it works fine for me.

[2016-04-02 21:00] #48 closed

[2016-04-02 21:14] adamhajari commented on #45
@charleywan2004 seems possible. Can you give an example of how it might work?

[2016-04-02 21:16] adamhajari commented on #43
@joequant there's already a `launch_in_notebook` method. Have you tried this out? It's a little buggy so could definitely use some updates.

[2016-04-02 21:16] #43 closed

[2016-04-02 21:58] adamhajari commented on #30
@startakovsky could you provide the full script for an app that doesn't provide a stacktrace?

[2016-04-03 01:51] LuisSoares commented on #38
Hi @adamhajari,

First of all congratulation for you work with spyre.
The code for my app is:
`
#stuff required by pythonanywhere
import sys
import atexit
import threading
import cherrypy

cherrypy.config.update({'environment': 'embedded'})

if cherrypy.__version__.startswith('3.0') and cherrypy.engine.state == 0:
    cherrypy.engine.start(blocking=False)
    atexit.register(cherrypy.engine.stop)

[2016-04-03 07:06] startakovsky commented on #30
@adamhajari I’d have to dig it up — I’m pretty sure I solved the problem just by learning the source code a little more; out of curiosity, are you planning on furthering development of spyre?

Steven

[2016-04-03 09:30] hnykda commented on #48
Yes, all examples in examples directory worked as expected (after installing appropriate packages like bokeh, d3py etc.).

And yes, this code works under Python 3 for me. But not for Python 2. Does it work with Python 2 for you?

[2016-04-03 18:11] adamhajari commented on #30
@startakovsky there are several places that could be improved with better exception handling. I'm not currently doing any major updates to spyre, but plan to address any bugs, minor feature requests, and PRs as they come in.

[2016-04-03 18:11] #30 closed

[2016-04-03 19:05] adamhajari commented on #38
@huntcsg do you have any insight into this issue?

[2016-04-03 19:32] LuisSoares commented on #38
I think this could probably be fixed by moving the:

`self.root.templateVars['app_bar'] = self.site_app_bar`
`for` fullRoute, _ in self.site_app_bar[1:]:
`
`   parent, route = self.get_route(fullRoute)
`
 `  parent.__dict__[route].templateVars['app_bar']` = self.site_app_bar`

from the launch method to the getRoot method in the Site class

[2016-04-05 15:56] charleywan2004 commented on #45
bokeh can do the following
*1, define a figure*
fig1 = Figure(title_text_font_size="12pt",
              plot_height=250,
              plot_width=500,
              tools="crosshair,pan,reset,resize,save,wheel_zoom",
              title="",
              x_range=[0, 200],
              y_range=[0, 0.04]
        )
*2. define a data source*
source1 = ColumnDataSource(data=dict(x=[], y=[], color=[])

[2016-04-05 18:08] adamhajari commented on #39
@mendessoares and @etch32 I've just added this functionality. Check out this example for tips on getting started: https://github.com/adamhajari/spyre/blob/master/examples/user_upload_example.py

[2016-04-05 18:08] #39 closed

[2016-04-05 18:09] #22 closed

[2016-04-05 18:14] mendessoares commented on #39
Awesome!

Maria H. Mendes Soares, Ph.D. | Postdoctoral Research Fellow | Department of Surgery | Center for Individualized Medicine | Microbiome Program | 507-284-0123 | soares.maria@mayo.edu
Mayo Clinic | 200 First Street SW | Rochester, MN 55905 | mayoclinic.org<http://www.mayoclinic.org/>

From: Adam Hajari <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adamhajari/spyre <

[2016-04-05 18:20] mendessoares commented on #39
Can’t see the button…

Maria H. Mendes Soares, Ph.D. | Postdoctoral Research Fellow | Department of Surgery | Center for Individualized Medicine | Microbiome Program | 507-284-0123 | soares.maria@mayo.edu
Mayo Clinic | 200 First Street SW | Rochester, MN 55905 | mayoclinic.org<http://www.mayoclinic.org/>

From: Adam Hajari <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adamh

[2016-04-05 18:25] adamhajari commented on #39
@mendessoares what OS and browser are you using? I've tested on OSX with chrome, safari, and firefox. Can you send a screenshot.

[2016-04-05 18:28] mendessoares commented on #39
OSX and Chrome

From: Adam Hajari <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adamhajari/spyre <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, April 5, 2016 at 1:26 PM
To: adamhajari/spyre <spyre@noreply.github.com<mailto:spyre@noreply.github.com>>
Cc: "Mendes Soares, Maria H., Ph.D." <soares.maria@mayo.edu<mailto:soares.maria@mayo.edu>>
Subject: Re

[2016-04-05 23:42] adamhajari commented on #39
@mendessoares did you run
```pip install --upgrade dataspyre```?
can you verify that you're on version 0.2.1 of spyre?

[2016-04-06 01:05] mendessoares commented on #39
Success! Beautiful!

Sent via the Samsung Galaxy Note5, an AT&T 4G LTE smartphone

-------- Original message --------
From: Adam Hajari <notifications@github.com>
Date: 4/5/2016 6:42 PM (GMT-06:00)
To: adamhajari/spyre <spyre@noreply.github.com>
Cc: "Mendes Soares, Maria H. (Lena), Ph.D." <soares.maria@mayo.edu>
Subject: Re: [adamhajari/spyre] Uploading files (#39)

@mendessoares<https://github.co

[2016-04-14 09:57] ocefpaf opened #49 "Release"
Is it possible to have a release? Even an unstable one? I am packing `spyre` with conda and it would be nice to point to a release instead of a commit hash.

Thanks for spyre!

[2016-04-21 02:00] jbrambleDC commented on #44
closing due to lack of response from @adamhajari

[2016-04-21 02:00] #44 closed

[2016-04-21 02:02] jbrambleDC commented on #41
was also having this issue. ran a `pip install dataspyre --upgrade` and the issue was solved.

[2016-04-21 03:58] etch32 commented on #41
I will test it tomorrow.

Sent from my iPhone

[2016-04-22 11:13] rs2 opened #50 "Does spyre support any notion of a session?"
I.e. how can spyre distinguish data requests made by user1 and user2, and respond based on the state of the state of the user's session?

[2016-04-22 12:06] rs2 opened #51 "Add a MultiSelect input"
Akin the Multiselect IPython widget.

Please assign me to this issue.

[2016-04-27 13:28] rs2 opened #52 "Feature request: add a MultiSelect input"
EOM

[2016-04-27 13:28] #52 closed

[2016-05-31 17:42] phlhayes commented on #51
@rs2 @adamhajari added here: https://github.com/phlhayes/spyre

[2016-06-07 17:57] #41 closed

[2016-06-15 17:42] NoahVG opened #54 "if v.rfind("__list__") == 0: AttributeError: 'list' object has no attribute 'rfind'"
Hi,

I encountered this error immediately after updating pandas from 0.16.2 to 0.18.1. Are you aware of any changes or deprecation in this update that could affect or conflict with spyre's code? The error code is below:

[15/Jun/2016:13:24:31] ENGINE Started monitor thread 'Autoreloader'.
[15/Jun/2016:13:24:31] ENGINE Started monitor thread '_TimeoutMonitor'.
[15/Jun/2016:13:24:31] ENGINE Serving

[2016-06-17 22:18] ashtonwu opened #55 "Download does not work in Python 3.X"
In the download(self, **args) function, it checks to see if type(filename).**name** is 'str' or 'instance'. In Python 3.X version of the io lib, type(io.StringIO()).**name** is 'StringIO'. Therefore, this function always returns the error message.

[2016-06-30 16:10] VeenitShah opened #56 "Unable to handle values with special characters"
I have a lot of dirty data with special characters. I want to be able to use a dropdown and select one value of it with contains a `#`. I modified the StockExample to the following -

[code]

When I select the Test label, I get the following stack trace -

[code]

[2016-07-20 13:58] xuebing-strike opened #57 "Unable to convert to WSGI web application"
This is a great tool for descriptive analysis, and I am planning to use it on AWS.
However, due to the limitation of the AWS Elastic Beanstalk Python platform,
we need convert to the WSGI web application to be able to use it on AWS,
at least that is my understanding.
Are there any straightforward functionalities for that converting ?

[2016-07-29 18:57] VeenitShah commented on #36
@willgroves +1 for this feature. We would love to see this feature, too. Bokeh can do this easily.

@adamhajari would you have a time estimation for when this feature will be added? I've chosen spyre as a front end to my application as it's amazing and this missing feature is blocking a major release.

Thank you in advance.
Regards,
V

[2016-08-11 06:48] fredthedead opened #59 "How can I add an independent route?"
In order to deploy my Spyre based app I am required to have a '/heartbeat' webpage that just returns some valid html.

How can I add that route to the app?

[2016-11-15 22:02] adamhajari commented on #49
the most recent version of spyre is available on pypi: https://pypi.python.org/pypi/DataSpyre

[2016-11-15 22:02] #49 closed

[2016-11-15 22:27] adamhajari commented on #56
@VeenitShah i'm not able to reproduce. What version of spyre are you using? Have you tried putting
[code]
at the top of your script?

see: https://www.python.org/dev/peps/pep-0263/

[2016-11-15 22:27] #56 closed

[2016-11-16 00:04] adamhajari commented on #55
fixed with this PR: https://github.com/adamhajari/spyre/pull/62

[2016-11-16 00:04] #55 closed

[2016-11-16 00:08] adamhajari commented on #54
@NoahVG i'm running with pandas==0.19.0 and can't reproduce. Do you have the latest version of spyre? do you get this error with any of the example apps in the examples dir?

[2016-11-16 00:08] #54 closed

[2016-11-21 17:22] adamhajari commented on #51
merged with this PR: https://github.com/adamhajari/spyre/pull/63
see https://github.com/adamhajari/spyre/blob/master/spyre/tezt_app2.py for example use

[2016-11-21 17:22] #51 closed

[2016-11-21 17:33] adamhajari commented on #50
spyre does not have support for sessions at this time.

[2016-11-21 17:33] #50 closed

[2016-11-22 15:22] pybokeh commented on #34
I am getting the same error (on Windows 7) with Python 3.5.2.

I was able to get the example working by modifying the ```gnu.py``` file:

I changed:
[code]
to
[code]

[2016-11-23 03:22] pybokeh commented on #34
If one gets ImportError: No module named 'winreg' under Ubuntu and Python 3.x,

this [fix](https://github.com/cherrypy/cherrypy/issues/1341) worked for me.

[2016-12-08 04:21] pybokeh opened #64 "How to integrate with Altair visualization framework?"
Hello, I only have basic HTML/javascript knowledge.  I was following along the bokeh example, but still don't know how to exactly inject [altair](https://github.com/altair-viz/altair)'s javascript into my html tab.  Here is my example spyre app:

[code]

Here's just the `<head>` tag from the c.to_html() output:
[code]

Looking at the bokeh example, I'm assuming I'll have to define the:
`def getCus

[2017-01-01 23:08] pybokeh commented on #64
So I downloaded the javascript files and defined getCustomJS() method by concatenating the contents of each js files together, but still could not get this to work.

[code]

[2017-01-13 03:20] anselmwang opened #66 "spyre freeze if it is imported after matplotlib"
In below code, spyre is imported after matplotlib.
Run this program, open "127.0.0.1:9012" and change company to be any other value, the plotted image will never be drawn. In the "console" panel of chrome, the plot call is always pending.

I am using standard WinPython-64bit-2.7.10.3 package, matplotlib version "matplotlib-1.5.0rc3.dist-info", just installed spyre with "pip install datasprye"

`
f

[2017-01-17 15:21] slarrain commented on #57
Were you able to solve this problem?

[2017-01-17 15:25] xuebing-strike commented on #57
no.
due to time limitation, I switched to webpy instead.
however, if you could provide this functionality,
that would be great so we could use it.

Thanks,

Bing

On Tue, Jan 17, 2017 at 9:21 AM, Santiago Larrain <notifications@github.com>
wrote:

--
Bing Bu
Data Scientist
skype: bingbu66
www.strikesocial.com

[2017-01-31 14:57] anto78 commented on #47
I get the same error! Could you fix it?

[2017-03-18 13:23] Prashanth-NUS opened #67 "Error while running this Example with all inputs"
WindowsError: [Error 3] The system cannot find path specified

![image](https://cloud.githubusercontent.com/assets/10327832/24072345/0dad453a-0c21-11e7-99bb-8869bd84499b.png)

[2017-07-31 10:16] Aarti1234 opened #74 "AttributeError: module __main has no attribute __file__"
I am running this stoke code in documentation and getting error " AttributeError: module __main has no attribute __file__ ". I also tried another examples give there but I was shown same AttributeError.

[2017-09-29 23:31] gramster opened #75 "After DataFrame is returned just get an endless spinner and Javascript error"
In my app after getData gets called and returns a DF there is a big spinner that just spins endlessly and no table is drawn.

Python 3.6 (Anaconda) on MacOS.

In the browser console I see "Unknow input type: " (spelling error intentional).

I have two inputs and they draw fine so I don't understand why they would be a problem. The control, tabs, and outputs are all copied from the example.

    in

[2017-09-29 23:53] gramster commented on #75
My bad; I thought Table and Plot were the inverted and I hadn't implemented Plot yet.

[2017-09-29 23:53] #75 closed

[2017-10-25 21:07] DamianSkrzypczak opened #76 "Multi app file uploading bug"
I have multiap with "Home" site on route "/" and  also "UploadFile" site on route "/uploadFile",
after uploading via button on site with route other than "/" there is no trigger on storeUpload
this is caused because in **view.html** file in **line 498** there is hardcoded ajax attribute `url: '/upload',`
when i change this into `url: '/uploadFile/upload',` I'm having trigger working fine.

please

[2017-10-25 21:27] DamianSkrzypczak commented on #76
I solved problem by changing line **498** from file **view.html** `url: '/upload'` into `url: '{{prefix}}/upload',`
and changing class attribute **prefix** now I have full control (for "/" it's still outputs good) but this requires **prefix** attribute to start with "/" for example **prefix="/uploadFile"**

[2017-12-04 18:16] magentay opened #77 "How to add a scroll bar in the left panel?"
I have a lot of inputs and buttons in the left panel, and some of these fields in the bottom will not be shown in the page.  My question is:  how to add a scroll bar in the left panel?

Thanks!

[2018-01-13 07:17] gramster opened #83 "Custom header and Custom JS should come at the end of <head> element"
I'm not sure what the motivation is for putting them where they are in view.html. Maybe there is one. However, if you want to use require.js, it will break if included in the current locations.

On the other hand, it will work if those are moved to end of head element, as in:

    		</script>
    		{{custom_head}}
    		<script type='text/javascript'>
    		    	{{custom_js}}
    	    	</script>

[2018-01-13 15:28] gramster opened #84 "Add a button input"
A dashboard could have multiple inputs. The result may be computationally expensive to generate, so auto-refresh on a change to any one input may be undesirable, but explicit refresh on any one input may be desirable. It doesn't seem like there is a good way to do this. Having a button widget seems like a good solve.

Based on some example screen shots of a stock dashboard it looks like there used

[2018-01-13 20:21] gramster commented on #59
Here is what I did. Rather than use:

    if __name__ == "__main__":
        app = SimpleApp()
        app.launch(host='', port=8000)

I duplicated and customized the internals of app.launche:

    if __name__ == "__main__":
        app = SimpleApp()
        app.prefix = '/'
        webapp = app.getRoot()
        cherrypy.server.socket_host = '0.0.0.0'
        cherrypy.server.socket_port = 8000

[2018-01-26 17:46] jaganadhg opened #85 "TextBox in Spyre"
Hi Team,
Is there any way to adjust the height and width of the text box. I tried height etc as kwargs. But not effective. I am trying to display text box bit bigger to enter free flow text

Best

Jagan

[2018-02-01 13:22] Dana-Farber opened #86 "Not compatible with Jupyter Notebook?"
Creating your hello-world app in a JupyterNotebook cell raises an error:
[code]

error:

[code]

Can you help me figure out how to overcome this? Thanks!

[code]

[2018-02-07 14:47] Dana-Farber commented on #44
Solved in https://github.com/adamhajari/spyre/pull/87 @jbrambleDC

[2018-02-13 13:51] gramster commented on #83
Created a pull request: https://github.com/adamhajari/spyre/pull/88

[2018-04-27 17:57] adamhajari commented on #85
these attributes are defined as css here: https://github.com/adamhajari/spyre/blob/master/spyre/public/css/style.css

you can overwrite any of these elements by adding the:

```def getCustomCSS(self):```

method to your app class. `getCustomCSS()` should return a string of css elements that you want to define. this css gets loaded _after_ the default spyre css so anything you define here will over

[2018-04-27 17:58] #85 closed

[2018-04-27 18:00] adamhajari commented on #85
see example here: https://github.com/adamhajari/spyre/blob/master/examples/simple_sine_background_image_example.py

[2018-04-27 20:16] adamhajari commented on #84
@gramster

Thanks for catching the discrepancy. I've updated the README to be consistent with the screenshots. `controls` come in two types: "button" and "hidden". Output updates are connected to controls through the outputs' "control_id" attribute. You can activate a control by either explicitly pushing a button, or by connecting the control to an input and changing the input.

There's an example

[2018-04-27 20:16] #84 closed

[2018-04-27 20:17] adamhajari commented on #83
thanks for the PR @gramster

[2018-04-27 20:17] #83 closed

[2018-04-27 20:18] adamhajari commented on #77
it might be possible with css. see this issue: https://github.com/adamhajari/spyre/issues/85

[2018-04-27 20:18] #77 closed

[2018-04-27 20:27] adamhajari commented on #67
`example_show_all_the_inputs.py` is intended for testing and may not run in all environments.

[2018-04-27 20:27] #67 closed

[2018-04-27 20:31] adamhajari commented on #59
gramster's PR has been merged and included in version 0.2.8.

[2018-04-27 20:31] #59 closed

[2018-11-23 18:07] kramea opened #90 "Two kinds of input type"
Hi, we are trying to have a framework like this: http://demo.allennlp.org/machine-comprehension

The user will choose a drop-down menu and it should auto-populate the text in the textbox based on this. The framework is not allowing to add more 'input' types. Is there any way to circumvent it?

[2018-11-26 22:08] #90 closed

[2018-11-26 22:09] kramea opened #91 "How can I add plain text in the "menu"?"
Hi, I would like to add some text after the input button. How can I modify the file to do that?

[2020-05-10 07:20] fleurlegend opened #92 "Issues installing Spyre"
![Screen Shot 2020-05-10 at 7 18 41 PM](https://user-images.githubusercontent.com/63981564/81493256-1083c200-92f3-11ea-9bde-173267449003.png)

Above shows the error I keep running into on using _pip install dataspyre_
Do you have requirements for version of python etc, or can anyone resolve the issue with another import in the preamble of my python doc?

[2020-05-12 14:06] pybokeh commented on #92
My guess it is a Python 2 versus Python 3 thing: https://stackoverflow.com/questions/29358403/no-module-named-urllib-parse-how-should-i-install-it

[2021-02-17 23:42] JKatsenelinboigen opened #93 "Stock Example Stuck Loading"
I am using python 3.8.3 on Windows 10. All dependencies are fully up to date.

I copied Example 2's code without making any changes, but the chart is stuck loading when i run my web app.
![image](https://user-images.githubusercontent.com/43592277/108282208-2e6a3700-714f-11eb-9ede-a35c52d5346a.png)
![image](https://user-images.githubusercontent.com/43592277/108282219-34601800-714f-11eb-92a9-f0b5f43

[2021-12-01 05:49] #66 closed

[2022-03-12 16:51] Morarin1 commented on #74
I am running from a jupyter notebook and i getting the same error

[2022-03-12 16:56] Morarin1 commented on #74
I get the same error! Could you fix it?

[2022-03-12 16:56] Morarin1 commented on #86
I get the same error! Could you fix it?

[2022-08-28 06:00] osho-m opened #95 "AppBar"